article, footer, section, header, nav, aside, hgroup, figure {
	display: block;
}

@font-face {
	font-family: Bitwise;
	src: url('bitwise/bitwise.ttf');
}

@font-face {
	font-family: "OFL Sorts Mill Goudy";
	src: url("http://openfontlibrary.org/content/chemoelectric/154/OFLGoudyStM.otf") format("opentype");
	font-weight:  400;
	font-style:   normal;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "OFL Sorts Mill Goudy";
	src: url("http://openfontlibrary.org/content/chemoelectric/154/OFLGoudyStM-Italic.otf") format("opentype");
	font-weight:  400;
	font-style:   italic;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "OFL Sorts Mill Goudy";
	src: url("http://openfontlibrary.org/content/chemoelectric/154/OFLGoudyStMTT-Italic.ttf") format("truetype");
	font-weight:  400;
	font-style:   italic;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "OFL Sorts Mill Goudy";
	src: url("http://openfontlibrary.org/content/chemoelectric/154/OFLGoudyStMTT.ttf") format("truetype");
	font-weight:  400;
	font-style:   normal;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Puritan";
	src: url("http://openfontlibrary.org/content/benweiner/259/Puritan2.otf") format("opentype");
	font-weight:  400;
	font-style:   normal;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Puritan";
	src: url("http://openfontlibrary.org/content/benweiner/259/Puritan2Bold.otf") format("opentype");
	font-weight:  700;
	font-style:   normal;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Puritan";
	src: url("http://openfontlibrary.org/content/benweiner/259/Puritan2BoldItalic.otf") format("opentype");
	font-weight:  700;
	font-style:   italic;
	font-variant: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Puritan";
	src: url("http://openfontlibrary.org/content/benweiner/259/Puritan2Italic.otf") format("opentype");
	font-weight:  400;
	font-style:   italic;
	font-variant: normal;
	font-stretch: normal;
}

html {
	font-family: "Puritan", sans-serif;
	font-size: 11pt;
	margin: auto;
	background-color: #035c84;
	margin: auto;
	width: 960px;
}

body > header {
	height: 210px;
	width: 100%;
	text-align: left;
	color: #fff;
	background-color: #372f2c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

body > header #logo {
	width: 160px;
	height: 160px;
	margin: 25px 33px;
}

body > header hgroup {
	display: inline-block;
	width: 560px;
	vertical-align: top;
	margin-top: 25px;
}

body > header h1 {
	font-family: Bitwise;
	font-size: 80px;
}

body > header h6 {
	font-style: italic;
	font-weight: normal;
	position: relative;
	top: -1em;
	color: #999;
	font-size: 10pt;
}

#social {
	width: 80px;
	height: 80px;
	float: right;
	padding: 25px;
}

#social img {
	width: 32px;
	height: 32px;
}

#social #rss {
	position: relative;
	top: 16px;
}

nav {
	width: 735px;
	position: relative;
	top: -83px;
	left: 225px;
	text-align: center;
	padding: 30px 0;
	background-color: #f3f5ff;
	border-top-left-radius: 10px;
}

nav ul li {
	display: inline;
	list-style: none;
	font-variant: small-caps;
	font-size: 20px;
	margin-right: 15px;
}

nav a {
	text-decoration: none;
	padding: 5px;
	color: #000a0f;
	border-radius: 3px;
}

nav a:hover {
	background-color: #9fcad1;
}

body > section {
	margin-top: -91px;
	background-color: #000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 960px;
	margin: 0 auto;
}

aside {
	float: left;
	width: 205px;
	margin: 0;
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-family: monospace;
}

aside a {
	color: #fff;
}

aside form input[type="text"] {
	width: 100%;
}

aside header {
	font-size: 16pt;
	margin: 1em 0 5px 0;
}

#main {
	width: 685px;
	padding: 10px 25px;
	display: inline-block;
	background-color: #f3f5ff;
	color: #000a0f;
	border-bottom-right-radius: 10px;
}

#main article {
	margin-bottom: 2em;
	text-align: justify;
}

#main article p {
	margin-bottom: 1em;
}

#main article header h2 {
	font-size: 16pt;
}

#main figure {
	display: block;
	text-align: center;
	padding: 1.5em;
}

#main figure figcaption {
	display: block;
	font-style: italic;
	margin: 1em;
}

footer {
	color: #fff;
	font-size: 80%;
	padding: 1em;
}
